.category-filter {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-family: Arial, sans-serif;
  padding-top: 8.5vh !important;
}

label {
  font-weight: bold;
  color: #444;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease;


  padding-right: 2.5rem;
  position: relative;
}


select::after {
  content: '▼';
  font-size: 0.8rem;
  color: #666;
  position: absolute;
  right: 1rem;
  pointer-events: none;
}


select:hover {
  border-color: #aaa;
}

select:focus {
  border-color: #4b6ef5;
  box-shadow: 0 0 5px rgba(75, 110, 245, 0.3);
}


.category-filter {
  width: 100vw;
  padding: 1rem;
  border-radius: 10px;
  display: block;
  margin: auto;


}
