<div class="login-container">
  <div class="login-box">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          type="text"
          formControlName="username"
          placeholder="Username"
          class="form-control"
        />
        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="error">
          Please enter a valid username.
        </div>
      </div>
      <div class="form-group">
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          class="form-control"
        />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
          Password must be at least 6 characters.
        </div>
      </div>
      <button type="submit" class="btn-login" [disabled]="loginForm.invalid">Log In</button>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>

  </div>
</div>
